<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--{{todo}}-->

<!--{{#if show}}-->

<!--{{/if}}-->

<ul>
{{#each items}}
    <li>{{this.name}}
    <span>{{this.emotion}}</span>
    </li>
{{/each}}
</ul>
</body>
</html>