<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


</head>
<body style="background-color: {{items}}">

<!--{{todo}}-->

<!--{{#if show}}-->

<!--{{/if}}-->

<!--<ul>-->
<!--{{#each items}}-->
    <!--<li>{{this}}-->
    <!--</li>-->
<!--{{/each}}-->
<!--</ul>-->

</body>
</html>